.register{
    background-color: rgb(143, 142, 142);
    width: 30%;
    height: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    opacity: 90%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 110%;
}

.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 115%;
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: rgb(178, 178, 178);
}

.background{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}